<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.sample.hirecooks">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/web_hi_res_512"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/web_hi_res_512"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.ProductDatails.ViewPagerActivity"
            android:exported="true" />
        <activity android:name=".Activity.Cooks.Video.PickVideoActivity" />
        <activity android:name=".Activity.Users.FirmUsers.FirmUserReportActivity" />
        <activity android:name=".Activity.Users.FirmUsers.FirmUserTracking" />
        <activity android:name=".Activity.Users.FirmUsers.FirmUserActivity" />
        <activity android:name=".Activity.Cooks.Video.FullScreenVideo" />
        <activity android:name=".Activity.Cooks.Video.VideoPlayer" />
        <activity android:name=".Activity.TrackUser.RiderMapLocation" />
        <activity android:name=".Activity.subscription.SubscriptionActivity" />
        <activity android:name=".Activity.subscription.DashboardActivity" />
        <activity android:name=".Activity.ManageAccount.ManageProducts.AddActivity" />
        <activity android:name=".Activity.ManageAccount.ManageProducts.StartEditSubCategoryActivity" />
        <activity android:name=".Activity.ManageAccount.ManageProducts.StartEditCategory" />
        <activity android:name=".Activity.ManageAccount.ManageProducts.EditSubCategoryActivity" />
        <activity android:name=".Activity.ManageAccount.ManageProducts.EditCategoryActivity" />
        <activity android:name=".Activity.ManageAccount.ManageProducts.ProductCategoryList" />
        <activity android:name=".EmailVerification" />
        <activity android:name=".Activity.Cooks.UpdateCookImage" />
        <activity android:name=".Activity.Cooks.AddCookImages" />
        <activity android:name=".Activity.Cooks.CookImagesList" />
        <activity android:name=".Activity.Cooks.UpdateCookDetails" />
        <activity android:name=".Activity.Cooks.CooksDetailsActivity" />
        <activity android:name=".Activity.Users.FirmUsers.FirmUserSignupActivity" />
        <activity android:name=".Activity.Users.FirmUsers.FirmUserSignupAddressActivity" />
        <activity android:name=".Activity.Users.FirmUsers.UpdateFirmUser" />
        <activity android:name=".Activity.Users.FirmUsers.FirmUserReportScreen" />
        <activity android:name=".Activity.Users.FirmUsers.FirmUserList" />
        <activity android:name=".Activity.Users.FirmUsers.AllFirmUsersReportActivity" />
        <activity android:name=".Activity.Users.FirmUsers.AdminChatActivity" />
        <activity android:name=".Activity.Venders.VendersSubCategory.VendersSubCategoryActivity"/>
        <activity
            android:name=".Activity.Orders.PlacedOrderSuccessfully"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Orders.PlaceOrderActivity" />
        <activity android:name=".Activity.Users.UpdateProfile" />
        <activity android:name=".Activity.ManageAddress.UpdateAddressActivity" />
        <activity android:name=".Activity.ManageAddress.SecondryAddressActivity" />
        <activity android:name=".Activity.Favourite.FavouriteActivity" />
        <activity
            android:name=".Activity.Users.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ProductDatails.DetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Users.SignupAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ManageAddress.SearchAddress" />
        <activity android:name=".Activity.Orders.RecievedOrderDetails" />
        <activity
            android:name=".Activity.Orders.RecievedOrderActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity android:name=".Activity.Orders.MyOrdersActivity"/>
        <activity android:name=".Activity.Home.CalenderViewActivity" />
        <activity android:name=".Activity.SubCategory.SubCategoryActivity"/>
        <activity android:name=".Activity.Cooks.CooksActivity" />
        <activity
            android:name=".Activity.Search.SearchResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TestActivity" />
        <activity android:name=".Activity.Users.UploadImagesActivity" />
        <activity android:name=".Activity.Menus.MenuActivity" />
        <activity android:name=".Utils.BaseActivity" />
        <activity
            android:name=".MapLocation"
            android:label="@string/title_activity_map_location" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.CheckoutActivity
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!--
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        -->
        <activity
            android:name=".Activity.Chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Activity.Users.UserDetailsActivity" />

        <activity
            android:name=".Activity.IntroSlider.IntroSlider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Users.PhoneVerification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Users.UsersActivity" />
        <activity
            android:name=".Activity.Users.UserSignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Users.UserSignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Home.LandingScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" /> <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />

        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-BYCFrpXUa4CI-H9fRqWEc0-I_ylk31k" /> <!-- Map -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <!--
   <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKSJQtFoY32Tdl45AK3FneoS_0wIdJ_ng" />
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/style_color_accent" /> <!-- Firebase Notification -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-xxxxxxxxxxxxxxxx~yyyyyyyyyy" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_KZF11BKNnNOOcy" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.hirecook.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider> <!-- AlarmService -->
        <receiver android:name=".Services.GPSReciever.GPSReciever">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.location.GPS_ENABLED_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Services.BroadCastReciever.SmsBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Services.NotificationReciever.NotificationReciever" />

        <receiver android:name = ".Services.GPSReciever.MyReceiver">
            <intent-filter>
                <action android:name = "android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Notifications.NotificationReciever">
            <intent-filter>
                <action android:name="com.androidbook.intents.testbc"></action>
            </intent-filter>
        </receiver>

        <service
            android:name=".Notifications.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.permission.RECEIVE" />
            </intent-filter>
        </service> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <service
            android:name=".Services.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.TrackerService"
            android:enabled="true"
            android:exported="true" />
        <uses-library android:name="com.google.android.maps" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.example.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

</manifest>